




/** container de page **/

.container-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/** element pour la nav**/
img{
    width: 200px;
}

body{
    background-color: #fff4e6;
}

li a{
    color: #8b1e1e ;
    text-decoration: none;
    font-size: 25px;

}
ul{
    margin-right: 30px;
}